-----BEGIN CERTIFICATE-----
MIIDVzCCAj+gAwIBAgIJAMFb4e05gBYzMA0GCSqGSIb3DQEBCwUAMEIxCzAJBgNV
BAYTAlVTMRUwEwYDVQQHDAxEZWZhdWx0IENpdHkxHDAaBgNVBAoME0RlZmF1bHQg
Q29tcGFueSBMdGQwHhcNMjIwMzIxMDAwNTEyWhcNMjUwMzIwMDAwNTEyWjBCMQsw
CQYDVQQGEwJVUzEVMBMGA1UEBwwMRGVmYXVsdCBDaXR5MRwwGgYDVQQKDBNEZWZh
dWx0IENvbXBhbnkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA
6ZtywrxJsAfn3q6jGQcMuby0o/wBTTtO9faMYXwGtblPEYaZDgkmoIlZJkrMBfz2
1XbYsGGsuObbJDG263kC42LxTfQwd+WNYgCn1z2+6bv91drYSIY/DJdeupO2qpZA
fSZzUyhuqykE9phF+U6o/8iGAYzR2FQF6HdJ470/sVbX6pnulxGC02ZA81BfdJQW
8tdsmIi197f1U9byDgd3v9FgtWx/83XoRCQNdqEF1ThD6gMRDaGndQcdppBj7VE8
tisZt7ahIGsvXv7IF7wgye7UqHtoOwA4tgBHUIPoIVQQNmi0RBaS6mw60sOw9PNE
cZyuVv0QnfGR0Qa3GqkLYwIDAQABo1AwTjAdBgNVHQ4EFgQUop2c5sJUc4y5GZkV
NWIExLKAFw0wHwYDVR0jBBgwFoAUop2c5sJUc4y5GZkVNWIExLKAFw0wDAYDVR0T
BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAUIrp9k09Bwk+klTgxJd2Qq7hlPJ8
kn3qt5WWpUrSxDoDbAQjBsK7ciYrbj5mJQ4I6akMILjXxZY4ta6BzBxpQoqD66uC
GyZr9+Nl67EhWhgaFcRDoTGfD04OgJKJv9aDH1yM1NLGxar4AdMIdl4LNpUa00r2
JBl19YMIXgGwlppL9i4OJjd58boxsASrJrDsmWPGFdzFH81G6Ee4wSXhQhRAF0WR
RxWoFUEo6paDEGiXFON6/6Ynxfx8OFTLDJ/Hs2BXFdPAUvvVN1MOG7PBj4eoo+/p
PmvispPAru7we5RAch7f8gUq4nMV18oIHW9LoLtCGdVqONHdzuQ9tfSejg==
-----END CERTIFICATE-----
